@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
}

#name {
  font-family: 'Passion One', cursive;
  font-size: 90px;
  width: 100vh;
  

}

body {
  margin: 0;
  font-size: 20px;
}

* {
  background-color: #2a0d7f;
  color: #c49dfc;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
  text-align: center;
}


span {
  font-size: x-large;
  font-weight: light;
  color: #c81ce3;
  text-shadow: 1px 1px #c49dfc;
  font-family: 'Raleway', sans-serif;
}

#header-font {
  font-family: 'Passion One', cursive;
  font-size: 50px;
  text-align: center;
}


#andrea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}


ul {
  list-style: none;
}

.assignment {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.assignment img {
  border-radius: 25px;
}

#portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 50%;
}

#portfolio-gallery img {
  border-radius: 20px;
}

.pictext {
  text-align: center;
  font-style: italic;
}

.phoneemail {
  text-align: center;
}

#socials {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#faicon {
  height: 40px;

}

#devicon {
  height: 40px;
  background-color: #c49dfc;
  border-radius: 25px;
  margin: 8px;

}

.abt-left {
  height: 30vh;
  float: left;
  width: 40%;
  margin-bottom: 80vh;
}

.abt-right {
  height: 30vh;
  float: right;
  width: 50vh;
  margin-bottom: 80vh;
  margin-right: 30vh;
}

#portfoliosection,
#contactsection {
  margin-bottom: 100vh;
}

#portfoliosection, #contactsection {
  margin-top: 70vh;
}

#resumesection {
  margin-bottom: 50px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.header-container {
 
}

#portfoliosection #header-font {
  font-family: 'Passion One', cursive;
  font-size: 60px;
  text-align: center;
}

.section {
  height: 40vh;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-items {
  display: flex;
  justify-content: center;
}

ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
}

ul.nav li {
  margin-right: 20px;
  transition: text-shadow 2s ease-in-out;
}

ul.nav li a {
  color: #c81ce3;
  text-decoration: none;
}

ul.nav li a:hover {
  color: #c81ce3;
  animation: pulse 3s;
}

.animation-container {
  display: flex;
  width: 490px;
  margin: auto;

}

@keyframes pulse {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 5px 8px #c81ce3; 
  }
  100% {
    text-shadow: 5px 8px #c81ce3; 
  }
}

#chevron {
  margin-bottom: 20vh;
}