@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



body {
  margin: 0;
  font-size: 20px;
}

* {
  background-color: #2a0d7f;
  color: #c49dfc;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
  text-align: center;
}


span {
  font-size: x-large;
  font-weight: light;
  color: #c49dfc;
  font-family: 'Passion One', cursive;
}

#header-font {
  font-family: 'Passion One', cursive;
  font-size: 60px;
  text-align: center;
}

p {
  text-align: center;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

#about:hover,
#gallery:hover,
#contact:hover {
  color: #8d99ae;
}

#andrea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}



ul {
  list-style: none;
}

.assignment {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.assignment img {
  border-radius: 25px;
}

#portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 50%;
}

#portfolio-gallery img {
  border-radius: 20px;
}

.pictext {
  text-align: center;
  font-style: italic;
}

.phoneemail {
  text-align: center;
}

.break {
  height: 300px;
}

#socials {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;


}

#faicon {
  height: 40px;

}

#devicon {
  height: 40px;
  background-color: #c49dfc;
  border-radius: 25px;
  margin: 8px;

}

.abt-left {
  height: 30%;
  float: left;
  width: 40%;
  margin-bottom: 250px;
}

.abt-right {
  height: 30%;
  float: right;
  width: 60%;
  margin-bottom: 250px;
}

#portfoliosection,
#contactsection {
  margin-bottom: 250px;
}

#resumesection {
  margin-bottom: 50px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.animation-container {
  flex-shrink: 0;
  width: 300px;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name {
  font-family: 'Passion One', cursive;
  font-size: 90px;
  text-align: center;
  margin-right: 160px;
}

#portfoliosection #header-font {
  font-family: 'Passion One', cursive;
  font-size: 60px;
  text-align: center;
}