@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



body {
  margin: 0;
font-size: 20px;
}

* {
  background-color: #2b2d42;
  color: #d90429;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
}

.heading {
  text-align: center;
  font-size: 40px;
  text-shadow: #2b2d42 0px 0px 30px;

}

span {
  font-style: italic;
  font-size: x-large;
  color: #edf2f4;
}

#header-font {
  font-family: 'Rowdies', cursive;
  font-size: 60px;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: #2b2d42 5px 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 100px;
}

#about:hover,
#gallery:hover,
#contact:hover {
  color: #8d99ae;
}

#andrea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}



ul {
  list-style: none;
}

.assignment {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.assignment img {
  border-radius: 25px;
}

#portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

#portfolio-gallery img {
  border-radius: 20px;
}

.pictext {
  text-align: center;
  font-style: italic;
}

.phoneemail {
  text-align: center;
}

.break {
  height: 300px;
}

#socials {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  

}

#faicon {
  height: 40px;
  
}

#devicon {
  height: 40px;
  background-color: #edf2f4b8;
  border-radius: 25px;
  margin: 8px;
  box-shadow: 0 0 5px 10px #edf2f4b8;
  
}

.abt-left {
  height: 30%;
  float: left;
  width: 50%;
  margin-bottom: 250px;
}

.abt-right {
  height: 30%;
  float: right;
  width: 50%;
  margin-bottom: 250px;
}

#gallerysection, #contactsection {
  margin-bottom: 250px;
}

#resumesection {
  margin-bottom: 50px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
